body{
    backround-color: greenyellow;
}
h1{
    font-family: 'oswald', sans-serif;
    backround-color: cornsilk;
    color: rgb(38,0,255);
}
#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}
#timer{
    float: right;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
}
p{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: black;
}
#sketch_to_be_drawn{
    color: red;
}